* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1F363D;
    --secondary-color: #40798C;
    --tertiary-color: #70A9A1;
    --quaternary-color: #9EC1A3;
    --quinary-color: #CFE0C3;
}

body {
    background-color: var(--quinary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container-top {
    background-color: var(--primary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 650px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--quinary-color);
}

h1 {
    color: var(--tertiary-color);
    font-size: 35px;
}

h2 {
    color: var(--quinary-color);
    font-size: 24px;
}

#container {
    background-color: var(--quaternary-color);
    width: 650px;
    height: 400px;
    border-right: 3px solid var(--primary-color);
    border-left: 3px solid var(--primary-color);
}

#container-bottom {
    background-color: var(--primary-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 650px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--quinary-color);
}